// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-white : #ffffff;
$color-base-gray : #e6e8ea;
$color-base-black : #333333;

$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;
