<%- include(process.cwd()+'/src/resource/ejs_include/_head.ejs') %>
<body>
<%- include(process.cwd()+'/src/resource/ejs_include/_header.ejs') %>
<main id="app">
</main>
<%- include(process.cwd()+'/src/resource/ejs_include/_footer.ejs') %>
<!--  scripts include libraries  -->
<script src="/resource/js/app.js"></script>
</body>
</html>